---
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro:assets";
import portrait from "../assets/portrait.webp";
import himmel from "../assets/himmel.webp";
import bird from "../assets/bird.webp";
import ImageTextSection from "../components/ImageTextSection.astro";
import Divider from "../components/Divider.astro";
---

<Layout title="Über mich" description="tbd">
  <main>
    <section class="mx-auto max-w-5xl px-5 py-12 md:py-16">
      <div class="flex flex-col items-start gap-8 md:flex-row md:gap-12">
        <div
          class="order-2 w-full max-w-xs self-center md:order-1 md:max-w-sm md:basis-2/5 md:self-auto lg:max-w-md"
        >
          <Picture
            src={portrait}
            alt="Portrait Kathrin"
            class="aspect-square w-full rounded-full object-cover"
          />
        </div>
        <div class="order-1 space-y-5 md:order-2 md:basis-3/5">
          <p>
            Als Mama von zwei wundervollen Töchtern (geb. 2011 & 2015) und
            Ehefrau eines ebenso wundervollen Mannes, erlebe ich täglich das
            bunte Spektrum an Entwicklungsräumen, das mit diesen Rollen
            einhergeht. Dafür bin ich zutiefst dankbar.
          </p>
          <p>
            Geboren wurde ich 1982. Ausgestattet mit einer ausgeprägten
            Hochsensibilität (Persönlichkeitsmerkmal nach Elaine N. Aron - wie
            ich später erfahren durfte), habe ich schon als Kind Reize
            intensiver erlebt und verarbeitet. Ich habe ein sehr feines Gespür
            für Stimmungen und erfasse meist auch das, was zwischen den Zeilen
            mitschwingt und unausgesprochen bleibt.
          </p>
          <p>
            Eng mit diesem Persönlichkeitsmerkmal verbunden ist auch die
            Wahrnehmung von Energien, emotionalen Feldern und feinen
            zwischenmenschlichen Dynamiken, wodurch ich meist intuitiv erfassen
            kann, was Menschen innerlich bewegt.
          </p>
          <p>
            Heute weiß ich, das sind wertvolle Gaben. Als Kind und Jugenliche
            war ich jedoch oft überfordert, müde und erschöpft. Erst im Laufe
            der Zeit habe ich gelernt, diese Eigenschaften sinnvoll zu nutzen
            und zu integrieren - nicht einfach, denn das Leben hatte auch noch
            andere Herausforderungen für mich parat.
          </p>
        </div>
      </div>
    </section>

    <Divider />

    <section class="mx-auto max-w-5xl px-5 py-12 md:py-16">
      <div class="space-y-5">
        <p>
          Schon früh stand für mich fest, dass ich Erzieherin - besser finde ich
          Entwicklungsbegleiterin - werden möchte.<br /> Durch meine Tätigkeit in
          unterschiedlichen Arbeitsfeldern, darunter erlebnis- und naturpädagogische
          Ansätze sowie Einblicke in die tiergestützte Arbeit, durfte ich vielfältige
          Erfahrungen sammeln.
        </p>
        <p>
          Kinder sind ehrlich, direkt und voller Lebensfreude und es erfüllt
          mich, sie in der Entwicklung und in der Entfaltung ihrer individuellen
          Persönlichkeit zu begleiten und zu stärken. Dabei kann ich meine
          Vielseitigkeit und mein Einfühlungsvermögen gut einbringen.
        </p>
        <p>
          Auch die Zusammenarbeit mit Eltern/Erziehungsberechtigten ist mir sehr
          wichtig. <br />Sie im Alltag zu unterstützen und gemeinsam zum Wohl
          des Kindes beizutragen, sodass Lösungen entstehen, die für <span
            class="italic">alle Beteiligten</span
          >
          tragfähig und entlastend sind, empfinde ich als wertvoll und sinnstiftend.
        </p>
        <p>
          Parallel beschäftigen mich seit jeher Sinnfragen und die tieferen
          Zusammenhänge des Lebens - ebenso wie die Tatsache, wie
          unterschiedlich Menschen mit ihren Lebensumständen umgehen und wie
          sehr innere Prozesse das Erleben, Verhalten und die persönliche
          Entwicklung beeinflussen.<br />Mit dem Eintritt in mein Berufsleben
          bestätigte sich für mich, dass diese Prozesse bereits früh wirksam
          sind.
        </p>
        <p>
          Diese Beobachtungen sowie meine eigenen Lebenserfahrungen bis dahin
          haben mich zu der Überzeugung geführt, dass jeder Mensch einzigartige
          Fähigkeiten in sich trägt und dass er sich im Zusammenspiel von
          Körper, Geist und Seele am besten entwickeln kann. <br />Aus dieser
          ganzheitlichen Sichtweise heraus habe ich sehr bald meinen Weg in die
          Psychomotorik (IPE) gefunden, die diesen Ansatz ebenfalls verfolgt.
        </p>
        <p class="mt-10">
          Am Sterbebett meiner Oma hatte ich als junge Erwachsene ein sehr
          einschneidendes Erlebnis, das mich erneut bestätigte:
        </p>
        <Divider />
        <p class="font-caveat text-manao-dark text-center text-3xl">
          Das Leben ist weit mehr als das Sichtbare,<br
            class="hidden lg:block"
          /> es gibt noch viel tiefere Dimensionen.
        </p>
        <Divider />
        <div class="mx-auto mt-10 w-full max-w-xs md:max-w-sm">
          <Picture
            src={himmel}
            alt="Himmel mit Wolken"
            class="aspect-square w-full rounded-full object-cover"
          />
        </div>
      </div>
    </section>

    <section class="mx-auto max-w-5xl px-5 py-5">
      <div class="space-y-5">
        <p>
          In anderer Weise bestätigt wurde dies durch eine ernsthafte Krankheit
          im Alter von 26 Jahren. Meine Beschwerden hielten lange an und die
          Schulmedizin fand keine Ursache. Ich suchte Hilfe in alternativen
          Heilmethoden, die mir durch meine Kindheit bereits vertraut waren.<br
          /> Der Weg führte mich allerdings letztendlich zu energetischer Arbeit.
          Dadurch konnten Themen gelöst werden, bei denen zuvor lange keine Veränderung
          möglich schien. Ich erfuhr Heilung auf mehreren Ebenen.
        </p>
        <p>
          Fasziniert davon begann ein bewusster Weg der persönlichen inneren
          Arbeit und der fachlichen Weiterbildung in diesem Bereich.
        </p>
        <Divider />
        <p class="mt-5 text-center">
          <span class="text-manao-dark font-caveat text-3xl"
            >"Geist" ist der Maschinist, der die Maschine (Körper)<br /> mittels Kraftstoff
            (Seele) zum Laufen bringt."</span
          >
          <br /><span class="text-sm"
            >Aldo Berti - Geistheilung und Energiearbeit</span
          >
        </p>
        <Divider />
      </div>
    </section>

    <section class="mx-auto max-w-5xl px-5 py-5 md:py-10">
      <div class="space-y-5">
        <p>
          Mit meiner ersten Schwangerschaft, der Geburt und den damit
          verbundenen Herausforderungen der Mutterschaft, hat sich mein
          Bewusstsein für mich selbst und für die Zusammenhänge des Lebens
          zusätzlich vertieft - folglich wuchsen auch Klarheit und innere
          Stabilität.
        </p>
        <p>
          Diese geben mir die Kraft, selbst in stürmischen Zeiten im Vertrauen
          zu bleiben und zu erkennen, dass alles im Leben seine Zeit und seinen
          Sinn hat. Dadurch erlebe ich (mehr) Zufriedenheit, Leichtigkeit und
          Lebensfreude.
        </p>
      </div>
    </section>

    <ImageTextSection
      imageMetadata={bird}
      minHeightClass="lg:min-h-50 2xl:min-h-100"
      textPosition="left"
      ><span class="font-caveat text-3xl md:text-4xl"
        >"Hinter jedem Winter steckt ein zitternder Frühling und hinter dem
        Schleier jeder Nacht <br />verbirgt sich ein lächelnder Morgen."</span
      >
      <br /><span class="text-sm"
        >Khalil Gibran - libanesisch-amerikanischer Dichter, Philosoph, Maler
        und Schriftsteller</span
      >
    </ImageTextSection>

    <section class="mx-auto max-w-5xl px-5 py-12 md:py-16">
      <div class="space-y-5">
        <p>
          Eine meiner Töchter brachte zum Thema des alleingeborenen Zwillings,
          die Gabe der Hochsensibilität ebenfalls mit auf die Welt. <br />Somit
          konnte und kann ich dank ihr auch Erfahrungen zu dieser Thematik aus
          der Perspektive der Mutterschaft sammeln.
        </p>
        <p class="mt-10">
          Fachliche Expertise und meine persönlichen Lebenserfahrungen bilden
          die Grundlage meiner Arbeit.
        </p>
        <p class="border-manao border-l-4 p-4 text-xl">
          Mein Ziel ist es, jeden Menschen dabei zu unterstützen, Zusammenhänge
          zu erkennen, die eigenen Stärken zu entdecken, Vertrauen in die
          eigenen Fähigkeiten zu entwickeln und nachhaltige Lösungen zu finden.
        </p>
        <p class="mt-15 text-center">
          <span class="text-manao-dark font-caveat text-3xl"
            >"Glücklich zu sein ist keine Kunst.<br />Die wirkliche Kunst ist zu
            wissen, was man tun kann, wenn man unglücklich ist."</span
          >
          <br /><span class="text-sm"
            >Jesper Juul - dänischer Familientherapeut, Pädagoge und Autor</span
          >
        </p>
      </div>
    </section>
  </main>
</Layout>
