---
import Layout from "../layouts/Layout.astro";
---

<Layout title="manao" description="manao">
  <div class="mx-auto max-w-3xl px-4 py-12">
    <h1 class="mb-8 text-center text-4xl font-bold">Impressum</h1>
    <p class="mb-4">
      Kathrin Menzel<br />
      Am Wasserturm 17<br />
      91413 Neustadt an der Aisch
    </p>

    <h2 class="mt-8 mb-4 text-2xl font-bold">Kontakt</h2>
    <p class="mb-4">E-Mail: hallo(at)manao.info</p>

    <h2 class="mt-8 mb-4 text-2xl font-bold">Copyright</h2>
    <p class="mb-4">
      Alle Rechte vorbehalten. Texte und Bilder sowie deren Anordnung
      unterliegen dem Schutz des Urheberrechts und anderer Schutzgesetze. Der
      Inhalt dieser Webseiten darf nicht zu kommerziellen Zwecken kopiert,
      verbreitet, verändert oder Dritten zugänglich gemacht werden. Einige der
      auf den Webseiten befindlichen Bilder unterliegen außerdem dem Copyright
      Dritter. Soweit nicht anders angegeben, sind alle Markenzeichen
      markenrechtlich geschützt.
    </p>
  </div>
</Layout>
