---
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro:assets";
import headerImage from "../assets/header_big.webp";
import aquarell from "../assets/aquarell.webp";
import haende from "../assets/haende_baum.webp";
import WelcomeHero from "../components/WelcomeHero.astro";
import ImageTextSection from "../components/ImageTextSection.astro";
import IntentionHero from "../components/IntentionHero.astro";
import AngeboteHero from "../components/AngeboteHero.astro";
import ArbeitsweiseHero from "../components/ArbeitsweiseHero.astro";
import AboutMeHero from "../components/AboutMeHero.astro";
import Divider from "../components/Divider.astro";
---

<Layout title="manao" description="manao">
  <main>
    <Picture
      src={headerImage}
      alt="Header"
      class="h-40 w-full object-cover object-[20%_center] md:h-auto md:object-contain md:object-center"
    />
    <WelcomeHero />
    <ImageTextSection
      imageMetadata={haende}
      minHeightClass="lg:min-h-60"
      bgPositionClass="bg-left md:bg-center"
      ><span class="font-caveat text-3xl md:text-4xl"
        >"Wer auf seine innere Stimme hört, lebt im Einklang mit sich selbst.
        <br class="hidden lg:block" />Dann entstehen Freude, Freiheit und
        Gesundheit."</span
      >
      <br /><span class="text-sm">Osho - spiritueller Lehrer</span
      ></ImageTextSection
    >
    <IntentionHero />
    <Divider />
    <AngeboteHero />
    <Divider />
    <ArbeitsweiseHero />
    <ImageTextSection imageMetadata={aquarell}
      ><span class="font-caveat text-manao-dark text-3xl md:text-4xl"
        >"Ganzheitliche Gesundheit beginnt dort,<br /> wo wir Körper, Geist und Seele
        nicht länger trennen."</span
      >
      <br /><span class="text-manao-dark text-sm"
        >Deepak Chopra - internationaler Autor, Arzt, Speaker</span
      ></ImageTextSection
    >
    <AboutMeHero />
  </main>
</Layout>
