---
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro:assets";
import intentionImage from "../assets/intension.webp";
import haende from "../assets/haende_baum.jpg";
import ImageTextSection from "../components/ImageTextSection.astro";
import Divider from "../components/Divider.astro";
---

<Layout
  title="Die innere Stimme"
  description="Über die zentrale Rolle der inneren Stimme - Orientierung, Selbstwahrnehmung und ganzheitliche Gesundheit."
>
  <main>
    <section class="mx-auto max-w-5xl px-5 py-12 md:py-16">
      <div class="flex flex-col items-start gap-8 md:flex-row md:gap-12">
        <div class="space-y-5 md:basis-3/5">
          <h1
            class="font-licorice text-manao text-5xl text-balance md:text-6xl lg:text-7xl"
          >
            Die innere Stimme
          </h1>
          <p>
            Sensitivität und Intuition - als unsere innere Stimme - sind
            angeborene, individuell ausgeprägte Fähigkeiten.
          </p><p>
            Sensitivität ist die Fähigkeit, feine Signale wahrzunehmen - im
            eigenen Körper z. B. Bedürfnisse, Gefühle - und in der Umgebung z.
            B. Reize, Atmosphäre.
          </p><p>
            Für die Orientierung, was wir brauchen, zeigt sich oft zuerst die
            Intuition. Sie ist das unmittelbare innere Wissen, das jedoch häufig
            von äußeren Einflüssen oder dem Verstand überlagert wird. Geprägt
            von Erfahrungen, Mustern und erlernten Überzeugungen bewertet
            dieser, gleicht ab und ordnet ein.
          </p><p>
            Die Intuition folgt keiner Bewertung, sondern einer inneren
            Klarheit. Sie zeigt Wege auf, warnt und korrigiert. Dabei steht sie
            oft nicht im Einklang mit dem Verstand, sondern kommt aus einer viel
            tieferen Ebene.
          </p><p>
            "Die Intuition ist die am meisten unterschätzte und missverstandene
            menschliche Kompetenz. Das ist fatal, denn wir brauchen die
            Intuition um kraftvolle Entscheidungen in Übereinstimmung mit
            unserer Vision und entsprechend unserem Potential treffen zu können.
            In der aktuellen Zeit ist die Intuition der Future Skill, der die
            Richtung, die wir individuell und kollektiv einschlagen,
            entscheidend beeinflussen wird." - Zitat von Alexandra Sorgenicht -
            Intuitionstrainerin & Gründerin der Academy for Intuitive Living
          </p>
          <p class="font-bold">
            Wenn wir Sensitiviät und Intuition Raum geben, können wir unser
            Leben bewusster, selbstbestimmter und stimmiger gestalten.
          </p>
          <p>Auf diesen Fähigkeiten basierend entwickeln wir:</p>
          <p>
            emotionale Intelligenz - die Fähigkeit innere Zustände nicht nur
            wahrzunehmen, sondern auch zu verstehen und zu steuern sowie
            Selbstmotivation, Empathie und soziale Kompetenz (Daniel Goleman)
          </p>
          <p>
            Resilienz - die Fähigkeit, sich positiv an widrige Lebensumstände
            anzupassen, Stress zu bewältigen und sich nach Belastungen psychisch
            zu erholen
          </p>
        </div>
        <div
          class="w-full max-w-xs self-center md:max-w-sm md:basis-2/5 md:self-auto lg:max-w-md"
        >
          <Picture
            src={intentionImage}
            alt="Wasser, Wellen, Ozean"
            class="aspect-square w-full rounded-full object-cover"
          />
        </div>
      </div>
    </section>

    <ImageTextSection imageMetadata={haende}
      >"Resilienz entsteht nicht durch Leistung, sondern durch die Fähigkeit,
      mit Emotionen und Beziehungen gesund umzugehen." <br />nach Ann S. Masten
      - amerikanische Psychologin, weltweit führende Expertin für
      Resilienzforschung
    </ImageTextSection>

    <section class="mx-auto max-w-5xl px-5 py-12 md:py-16">
      <div class="space-y-5">
        <p>
          In unserer zunehmend leistungsorientierten Gesellschaft stehen jedoch
          Effizienz, Anpassung und Funktionieren im Vordergrund. Hinzu kommen
          Digitalisierung und die allgegenwärtigen sozialen Medien, die mit
          Lebensstil-Konzepten, Methoden, Normen und Erwartungen vorschreiben,
          was man "braucht" und wie man zu "sein" hat.
        </p>
        <p>
          Zum einen werden dabei Stabilität und Lebensfreude immer stärker von
          äußeren Faktoren abhängig gemacht, zum anderen ist das Nervensystem
          vieler Menschen durch Schnelllebigkeit und hohe Reizdichte stark
          belastet.
        </p>
        <p>
          Es fällt schwer, Sensitivität und Intuition zu bewahren - mit
          Auswirkungen auf psychische und körperliche Gesundheit.
        </p>
        <p>
          Stress-Symptome, Erschöpfung, Unzufriedenheit und emotionale
          Instabilität zeigen sich seit Jahren - auch bereits bei Kindern und
          Jugendlichen. Hinzu kommen vermehrt Entwicklungs- und
          Verhaltensauffälligkeiten.
        </p>
      </div>
    </section>

    <ImageTextSection imageMetadata={haende}
      >"Wenn Kinder nur lernen, Erwartungen zu erfüllen und sich anzupassen,
      verlieren sie den Kontakt zu sich selbst."
      <br />nach Gerald Hüther - deutscher Neurobiologe, Hirnforscher
    </ImageTextSection>

    <section class="mx-auto max-w-5xl px-5 py-12 md:py-16">
      <div class="space-y-5">
        <p>
          Ob Kinder ihre innere Stimme wahrnehmen und ihr vertrauen können,
          hängt wesentlich davon ab, ob sie in einer sicheren Bindung
          aufwachsen. Wenn ihre Bedürfnisse gesehen und verlässlich beantwortet
          werden, entsteht Vertrauen in sich selbst. Kinder lernen: Das, was ich
          fühle, ist bedeutsam und richtig.
        </p>
        <p>
          Frühe Bindungserfahrungen prägen die emotionale, soziale und
          psychische Entwicklung eines Menschen (Bindungstheorie nach John
          Bowlby und Mary Ainsworth und Therapiekonzept MOSES® Prof. Karl Heinz
          Brisch).
        </p>
      </div>
    </section>
  </main>
</Layout>
