---
import Layout from "../layouts/Layout.astro";
import Divider from "../components/Divider.astro";
---

<Layout title="Kontakt" description="Kontakt zu Kathrin Menzel - manao">
  <main>
    <section class="mx-auto max-w-5xl px-5 py-12 md:py-16">
      <div class="space-y-5">
        <h1
          class="font-licorice text-manao text-5xl text-balance md:text-6xl lg:text-7xl"
        >
          Kontakt
        </h1>
        <div class="space-y-1">
          <p>Kathrin Menzel</p>
          <p>staatl. anerkannte Erzieherin</p>
          <p>Motopädagogin (Psychomotorik IPE)</p>
          <p>SKYourself®-Coach</p>
        </div>
      </div>
    </section>

    <Divider />

    <section class="mx-auto max-w-5xl px-5 py-12 md:py-16">
      <div class="space-y-5">
        <h2 class="font-licorice text-manao text-4xl md:text-5xl">
          Meine Angebote finden statt
        </h2>
        <ul class="marker:text-manao list-disc space-y-2 pl-6">
          <li>
            Am Wasserturm 17, 91413 Neustadt/Aisch -
            <span class="italic">bitte an der Straße parken</span>
          </li>
          <li>bei dir</li>
          <li>in der Natur</li>
          <li>mobil in meinem Van</li>
          <li>telefonisch oder online</li>
        </ul>
      </div>
    </section>

    <Divider />

    <section class="mx-auto max-w-5xl px-5 py-12 md:py-16">
      <div class="space-y-8">
        <h2 class="font-licorice text-manao text-4xl md:text-5xl">Infos</h2>

        <div class="space-y-3">
          <p>
            Zu unserer Familie gehört Hundedame "Jala". Sie hat mit mir beim
            Therapiehunde Deutschland e.V. ihren Eignungstest sowie die
            Ausbildung zum Therapiehund gemacht.
          </p>
          <p class="text-manao font-semibold">
            ⇒ Bitte sprich mich an, falls Ängste oder Allergien bestehen.
          </p>
          <p>
            Alles was in der Beratung oder im Coaching gesprochen und bearbeitet
            wird, unterliegt der Schweigepflicht. Auch personenbezogene Daten
            werden von mir selbstverständlich nicht weitergegeben.
          </p>
          <p>
            Dies wird auch mit den Kindern/Jugendlichen altersgerecht
            thematisiert. In Kursen & Workshops werden die Kinder/Jugendlichen
            zu Beginn dafür sensibilisiert, achtsam mit persönlichen Themen
            umzugehen.
          </p>
          <p>
            Am Ende jeder Einheit gibt es dazu ein gemeinsames Ritual, das den
            geschützten Rahmen und die Vertraulichkeit nochmals bewusst macht.
          </p>
          <p>
            Ich vermittle den Kindern/Jugendlichen, dass vertrauliche Inhalte
            entweder nicht in der Gruppe angesprochen werden oder nur mit dem
            Bewusstsein, dass nicht alle Kinder/Jugendlichen bereits sicher
            darin sind, Erlebtes und Gesagtes für sich zu behalten.
          </p>
          <p>
            Selbstverständlich dürfen die Kinder/Jugendlichen zu Hause über ihre
            eigenen Erfahrungen im Kurs oder Workshop erzählen. Dies fördert die
            Beziehung und Kommunikation in der Familie.
          </p>
          <p>
            Wenn vertrauliche Inhalte über andere Kinder/Jugendliche
            weitergegeben werden, bitte ich das zu unterbinden bzw. mich zu
            informieren, damit ich darauf reagieren kann.
          </p>

          <p>
            Im Rahmen gegenseitiger Wertschätzung, bitte ich dich, die Kosten
            für einen Termin bis spätestens 24 Std. vorher zu begleichen,
            andernfalls werte ich das als Terminabsage.
          </p>
          <p class="text-manao font-semibold">
            ⇒ Bei einer SKYourself®-Sitzung muss mir zusätzlich 24 Std. vorher
            das zugehörige Formular zur Erklärung bezüglich des
            Heilmittelgesetzes vorliegen.
          </p>

          <p>
            Für Termine, die an einem vereinbarten Ort oder bei dir stattfinden,
            berechne ich einen Mobilzuschlag von <span class="font-semibold"
              >8 € pro Termin</span
            >. Der Zuschlag umfasst An- und Abfahrt, sowie den zusätzlichen
            Mehraufwand.
          </p>
          <p>
            Der Mobilzuschlag gilt bis 10 km einfache Strecke - Ermittlung der
            Kilometer anhand von Google Maps. Ab 10 km berechne ich
            <span class="font-semibold">0,40 € pro weiterem Kilometer</span>.
          </p>

          <p>
            Ich möchte keine Abhängigkeit erzeugen. Mir ist wichtig, mit dir
            konkrete und umsetzbare Hilfen zu erarbeiten - ganz im Sinne der
            "Hilfe zur Selbsthilfe".
          </p>
          <p>
            Da ich ein Netzwerk erfahrener Personen aus unterschiedlichen
            Bereichen habe, kann ich dich bei Bedarf weitervermitteln.
          </p>

          <p>
            Für das energetische, geistige und spirituelle Heilen ist laut
            Grundsatzentscheid des Bundesverfassungsgerichtes vom 2. März 2004
            (1 BvR 784/03 - 2. März 2004) keine Zulassung als Heilpraktiker
            erforderlich.
          </p>
          <p>
            Voraussetzung für eine solche Tätigkeit ohne bestehende
            Heilerlaubnis ist aber, die Klienten schriftlich darauf hinzuweisen,
            dass seine/ihre Tätigkeit die Tätigkeit des Arztes nicht ersetzt,
            daher hier zum wiederholten Male und in ausführlicher Form:
          </p>
          <p>
            Meine Arbeit versteht sich als begleitender Prozess zur
            Selbsterfahrung und persönlichen Entwicklung.
          </p>
          <p>
            Sie stellt keine medizinische, psychotherapeutische oder
            heilkundliche Behandlung dar und ersetzt diese nicht. Ich stelle
            keine Diagnosen und gebe keine Heilversprechen.
          </p>
          <p>
            Ich bin keine zugelassene Psychotherapeutin oder Heilpraktikerin für
            Psychotherapie.
          </p>
          <p>
            Es handelt sich um eine beratende Tätigkeit außerhalb der Heilkunde.
            Diese ist somit nach dem Psychotherapeutengesetz nicht genehmigungs-
            oder überwachungspflichtig, denn:
          </p>
          <p>
            „Tätigkeiten, die nur der Aufarbeitung oder Überwindung sozialer
            Konflikte oder sonstige Zwecke außerhalb der Heilkunde zum
            Gegenstand haben, gehören nicht zur Ausübung der Psychotherapie."
            (PsychThG § 1 Abs. 3)
          </p>
        </div>
      </div>
    </section>
  </main>
</Layout>
