---
import Layout from "../layouts/Layout.astro";
import Divider from "../components/Divider.astro";
import ContactButtons from "../components/ContactButtons.astro";
---

<Layout
  title="Aktuelles"
  description="Aktuelle Termine und Workshops bei manao"
>
  <main>
    <section class="mx-auto max-w-5xl px-5 py-12 md:py-16">
      <h1
        class="font-licorice text-manao text-5xl text-balance md:text-6xl lg:text-7xl"
      >
        Aktuelle Termine
      </h1>
    </section>

    <section class="mx-auto max-w-5xl px-5 pb-12 md:pb-16">
      <div class="space-y-6">
        <div class="space-y-2">
          <h2 class="text-manao text-2xl">
            Das Licht in mir - Freiraum - Workshop in den Sommerferien
          </h2>
        </div>

        <div class="border-manao space-y-2 border-l-4 p-4">
          <p class="font-semibold">
            Für Kinder, die in die 1. oder 2. Klasse kommen
          </p>
          <p>
            <span class="text-manao font-semibold">Termin:</span> Montag, 03. August
            2026 - von 10:00 bis 14:00 Uhr
          </p>
        </div>

        <div class="border-manao space-y-2 border-l-4 p-4">
          <p class="font-semibold">
            Für Kinder, die in die 3. oder 4. Klasse kommen
          </p>
          <p>
            <span class="text-manao font-semibold">Termin:</span> Mittwoch, 05. August
            2026 - von 10:00 bis 14:00 Uhr
          </p>
        </div>

        <div class="flex justify-center">
          <a
            href="/licht-in-mir-freiraum"
            class="btn bg-manao hover:border-manao hover:text-manao text-white transition-colors duration-300 hover:bg-white"
          >
            Mehr Infos
          </a>
        </div>
      </div>
    </section>

    <Divider />

    <section class="mx-auto max-w-5xl px-5 py-12 md:py-16">
      <div class="space-y-6">
        <div class="space-y-2">
          <h2 class="text-manao text-2xl">
            Ein Angebot für Jugendliche und junge Erwachsene - Deep Talk -
            Spiritualität trifft Wissenschaft
          </h2>
        </div>

        <div class="border-manao space-y-2 border-l-4 p-4">
          <p class="font-semibold">Deep Talk für Jugendliche 13 - 16 Jahre</p>
          <p>
            <span class="text-manao font-semibold">Termin:</span> Samstag, 01. August
            2026 - von 19:00 bis 20:30 Uhr
          </p>
        </div>

        <div class="border-manao space-y-2 border-l-4 p-4">
          <p class="font-semibold">
            Deep Talk für junge Erwachsene ab 17 Jahre
          </p>
          <p>
            <span class="text-manao font-semibold">Termin:</span> Dienstag, 04. August
            2026 - von 19:00 bis 20:30 Uhr
          </p>
        </div>

        <div class="flex justify-center">
          <a
            href="/deep-talk"
            class="btn bg-manao hover:border-manao hover:text-manao text-white transition-colors duration-300 hover:bg-white"
          >
            Mehr Infos
          </a>
        </div>
      </div>
    </section>

    <Divider />

    <section class="mx-auto max-w-5xl px-5 py-12 md:py-16">
      <div class="space-y-6">
        <div class="space-y-2">
          <h2 class="text-manao text-2xl">
            Das Licht in mir - entdecke deine innere Stärke (Kurs I)
          </h2>
        </div>

        <div class="border-manao space-y-2 border-l-4 p-4">
          <p>
            <span class="text-manao font-semibold">Neue Termine</span> in Planung
            für Oktober.
          </p>
        </div>

        <div class="flex justify-center">
          <a
            href="/kurs-licht-in-mir-1"
            class="btn bg-manao hover:border-manao hover:text-manao text-white transition-colors duration-300 hover:bg-white"
          >
            Mehr Infos
          </a>
        </div>
      </div>
    </section>

    <Divider />

    <section class="mx-auto max-w-5xl px-5 py-12 md:py-16">
      <div class="space-y-6">
        <div class="space-y-2">
          <h2 class="text-manao text-2xl">
            Das Licht in mir - entfache deine innere Kraft (Kurs II)
          </h2>
        </div>

        <div class="border-manao space-y-2 border-l-4 p-4">
          <p>
            <span class="text-manao font-semibold">Neue Termine</span> in Planung
            für Oktober.
          </p>
        </div>

        <div class="flex justify-center">
          <a
            href="/kurs-licht-in-mir-2"
            class="btn bg-manao hover:border-manao hover:text-manao text-white transition-colors duration-300 hover:bg-white"
          >
            Mehr Infos
          </a>
        </div>
      </div>
    </section>

    <Divider />

    <section class="mx-auto max-w-5xl px-5 py-12">
      <div class="mt-8">
        <ContactButtons />
      </div>
    </section>
  </main>
</Layout>
