---
import Layout from "../layouts/Layout.astro";
import Divider from "../components/Divider.astro";
import ContactButtons from "../components/ContactButtons.astro";
---

<Layout
  title="Aktuelles"
  description="Aktuelle Termine und Workshops bei manao"
>
  <main>
    <section class="mx-auto max-w-5xl px-5 py-12 md:py-16">
      <h1
        class="font-licorice text-manao text-5xl text-balance md:text-6xl lg:text-7xl"
      >
        Aktuelle Termine
      </h1>
    </section>

    <section class="mx-auto max-w-5xl px-5">
      <div class="space-y-6">
        <div class="space-y-2">
          <h2 class="text-manao text-2xl">
            Das Licht in mir - Freiraum - Workshop in den Sommerferien
          </h2>
        </div>

        <div class="border-manao space-y-2 border-l-4 p-4">
          <p class="font-semibold">
            Für Kinder, die in die 1. oder 2. Klasse kommen
          </p>
          <p>
            <span class="text-manao font-semibold">Termin:</span> Montag, 03. August
            2026
          </p>
        </div>

        <div class="border-manao space-y-2 border-l-4 p-4">
          <p class="font-semibold">
            Für Kinder, die in die 3. oder 4. Klasse kommen
          </p>
          <p>
            <span class="text-manao font-semibold">Termin:</span> Mittwoch, 05. August
            2026
          </p>
        </div>
      </div>
    </section>

    <Divider />

    <section class="mx-auto max-w-5xl px-5 py-12 md:py-16">
      <div class="space-y-6">
        <div class="space-y-2">
          <h2 class="text-manao text-2xl">
            Ein Angebot für Jugendliche und junge Erwachsene Deep Talk -
            Spiritualität trifft Wissenschaft
          </h2>
        </div>

        <div class="border-manao space-y-2 border-l-4 p-4">
          <p class="font-semibold">Deep Talk für Jugendliche 13 - 16 Jahre</p>
          <p>
            <span class="text-manao font-semibold">Termin:</span> Samstag, 01. August
            2026
          </p>
        </div>

        <div class="border-manao space-y-2 border-l-4 p-4">
          <p class="font-semibold">
            Deep Talk für junge Erwachsene ab 17 Jahre
          </p>
          <p>
            <span class="text-manao font-semibold">Termin:</span> Dienstag, 04. August
            2026
          </p>
        </div>
      </div>
    </section>

    <Divider />

    <section class="mx-auto max-w-5xl px-5 py-12 md:py-16">
      <p>
        Den Treffpunkt erfährst du bei Anmeldung - gerne telefonisch, über
        WhatsApp oder per E-Mail bis spätestens
        <span class="text-manao font-semibold"
          >Donnerstag, den 30. Juli 2026</span
        >.
      </p>
      <div class="mt-8">
        <ContactButtons />
      </div>
    </section>
  </main>
</Layout>
