---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>manao</title>
  </head>
  <body>
    <div class="flex min-h-screen flex-col">
      <Navbar />
      <div class="grow">
        <slot />
      </div>
      <Footer />
    </div>
  </body>
</html>
