---
import "../styles/global.css";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/sparta_rw.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>manao</title>
  </head>
  <body>
    <div class="flex min-h-screen flex-col">
      <div class="flex-grow">
        <slot />
      </div>
    </div>
  </body>
</html>
