@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-neutral: oklch(32.1785% 0.02476 255.701624/1);
  --radius-box: 1rem;
  --radius-field: 0.5rem;
}
