---
import { Picture } from "astro:assets";
import heroImage from "../assets/manao_sprung.webp";
---

<section class="mx-auto max-w-5xl px-5 py-12 md:py-16">
  <div class="space-y-10 md:space-y-14">
    <div class="flex flex-col items-start gap-8 md:flex-row md:gap-12">
      <div
        class="order-2 w-full max-w-xs self-center md:order-1 md:max-w-sm md:basis-2/5 md:self-auto lg:max-w-md"
      >
        <Picture src={heroImage} alt="Kursraum" class="w-full" />
      </div>
      <div class="order-1 space-y-5 md:order-2 md:basis-3/5">
        <h1
          class="font-licorice text-manao text-5xl text-balance md:text-6xl lg:text-7xl"
        >
          Meine Angebote
        </h1>
        <p>
          Jeder Mensch ist einzigartig – daher sind meine Angebote individuell
          und bewusst unabhängig von standardisierten Programmen gestaltet.
        </p><p>
          Sie laden dazu ein, wieder mehr in Verbindung mit sich selbst zu
          kommen und können sowohl zur Entspannung und Auszeit genutzt werden
          als auch dazu, persönliche Themen zu vertiefen.
          <br />
          Bei Kindern steht ein spielerischer, kreativer und altersgerechter Zugang
          im Vordergrund.
        </p><p>
          Die Begleitung kann in meinen Räumen, bei dir vor Ort, in der Natur,
          in meinem Van oder online bzw. telefonisch stattfinden.
        </p><p>
          Ergänzend biete ich Impulsstunden für Fachpersonal an. Hier stehen
          Praxisnähe und alltagstaugliche Werkzeuge im Mittelpunkt, insbesondere
          im Umgang mit Kindern und Jugendlichen.
        </p>
      </div>
    </div>

    <div class="flex justify-center">
      <a
        href="/angebote"
        class="btn bg-manao hover:border-manao hover:text-manao text-white transition-colors duration-300 hover:bg-white"
      >
        Alle meine Angebote
      </a>
    </div>
  </div>
</section>
