---
import { Picture } from "astro:assets";
import heroImage from "../assets/kurs_angebote.webp";
---

<section class="mx-auto max-w-5xl px-5 py-12 md:py-16">
  <div class="space-y-10 md:space-y-14">
    <div class="flex flex-col items-start gap-8 md:flex-row md:gap-12">
      <div
        class="w-full max-w-xs self-center md:max-w-sm md:basis-2/5 md:self-auto lg:max-w-md"
      >
        <Picture
          src={heroImage}
          alt="Kursraum"
          class="aspect-square w-full rounded-full object-cover"
        />
      </div>
      <div class="space-y-5 md:basis-3/5">
        <h1
          class="font-licorice text-manao text-5xl text-balance md:text-6xl lg:text-7xl"
        >
          Meine Angebote
        </h1>
        <p>
          So einzigartig wie jeder Mensch ist, so einzigartig ist auch seine
          Entwicklung. Deshalb sind meine Angebote bewusst vielfältig gestaltet.
          So werden unterschiedliche Zugänge möglich, um in Kontakt mit sich zu
          kommen und den eigenen Weg zu gehen. Ergänzend biete ich Impulsstunden
          für Fachpersonal an. Dabei geht es vor allem um Praxisnähe und
          alltagstaugliche Werkzeuge. Ich arbeite in meinen Räumen, bei dir vor
          Ort, in der Natur, in meinem Van oder telefonisch/online.
        </p>
      </div>
    </div>

    <div class="flex justify-center">
      <a
        href="/angebote"
        class="btn bg-manao hover:border-manao hover:text-manao text-white transition-colors duration-300 hover:bg-white"
      >
        Alle meine Angebote
      </a>
    </div>
  </div>
</section>
