<footer class="footer bg-manao justify-end p-4 text-white">
  <nav class="flex gap-6">
    <a href="/impressum">Impressum</a>
    <span>|</span>
    <a href="/datenschutz">Datenschutz</a>
  </nav>
</footer>
