<header
  class="flex items-center justify-end bg-manao px-4 py-2 text-sm text-white"
>
  <nav class="flex flex-row gap-6">
    <p class="hidden items-center gap-1 md:flex">
      <img src="/location.svg" alt="Location Icon" class="h-5 w-5" /> Am Wasserturm
      17, 91413 Neustadt a. d. Aisch
    </p>
    <p class="hidden items-center gap-1 md:flex">
      <img src="/whatsapp.svg" alt="WhatsApp Icon" class="h-5 w-5" /> 0155 - 66 49
      83 78
    </p>
    <p class="flex items-center gap-1">
      <img src="/at.svg" alt="E-Mail Icon" class="h-5 w-5" /><a href="mailto:hallo@manao.info">hallo(at)manao.info</a>
    </p>
  </nav>
</header>
