<footer
  class="footer sm:footer-horizontal footer-horizontal bg-manao justify-end p-4 text-white"
>
  <nav class="flex flex-row gap-6">
    <p class="flex items-center gap-1">
      <img src="/location.svg" alt="Location Icon" class="h-5 w-5" /> Am Wasserturm
      17, 91413 Neustadt a. d. Aisch
    </p>
    <p class="flex items-center gap-1">
      <img src="/whatsapp.svg" alt="WhatsApp Icon" class="h-5 w-5" /> 0155 - 66 49
      83 78
    </p>
    <p class="flex items-center gap-1">
      <img src="/at.svg" alt="E-Mail Icon" class="h-5 w-5" />hallo(at)manao.info
    </p>
  </nav>
</footer>
