---
import { getImage } from "astro:assets";

interface Props {
  imageMetadata: ImageMetadata;
  alt?: string;
  minHeightClass?: string;
  overlay?: boolean;
  textPosition?: "left" | "right";
  bgPositionClass?: string;
}

const {
  imageMetadata,
  minHeightClass = "min-h-40",
  overlay = false,
  textPosition = "right",
  bgPositionClass = "bg-center",
} = Astro.props;

const smallBackground = await getImage({
  src: imageMetadata,
  width: 640,
});

const mediumBackground = await getImage({
  src: imageMetadata,
  width: 1536,
});

const largeBackground = await getImage({
  src: imageMetadata,
  width: 2560,
});

const originalBackground = await getImage({
  src: imageMetadata,
});
---

<div
  class:list={[
    "responsive-bg relative flex w-full items-center justify-end bg-cover",
    bgPositionClass,
    minHeightClass,
  ]}
  style={`--bg-small: url(${smallBackground.src}); --bg-medium: url(${mediumBackground.src}); --bg-large: url(${largeBackground.src}); --bg-original: url(${originalBackground.src});`}
>
  <div class:list={["absolute inset-0", overlay && "bg-black/40"]}></div>
  <div
    class:list={[
      "relative w-full px-6 py-10 text-white md:w-2/3 md:px-10 md:py-12",
      textPosition === "left" ? "mr-auto text-left" : "ml-auto text-right",
    ]}
  >
    <slot />
  </div>
</div>

<style>
  .responsive-bg {
    background-image: var(--bg-small);
  }

  @media (min-width: 640px) {
    .responsive-bg {
      background-image: var(--bg-medium);
    }
  }

  @media (min-width: 1536px) {
    .responsive-bg {
      background-image: var(--bg-large);
    }
  }

  @media (min-width: 2560px) {
    .responsive-bg {
      background-image: var(--bg-original);
    }
  }
</style>
