---
import { Picture } from "astro:assets";
import heroImage from "../assets/intension.webp";
---

<section class="mx-auto max-w-5xl px-5 py-12 md:py-16">
  <div class="space-y-10 md:space-y-14">
    <div class="flex flex-col items-start gap-8 md:flex-row md:gap-12">
      <div class="space-y-5 md:basis-3/5">
        <h1
          class="font-licorice text-manao text-5xl text-balance md:text-6xl lg:text-7xl"
        >
          Meine Intention
        </h1>
        <p>
          In der aktuellen Zeit gewinnt die innere Stimme zunehmend an Bedeutung
          - sowohl für unsere Gesundheit als auch für die Richtung, die wir
          individuell und kollektiv einschlagen. Kinder sind dabei unser
          wertvollstes Gut. Sie sind die Zukunft unserer Gesellschaft. Für die
          Entfaltung ihrer Einzigartigkeit bleibt jedoch häufig zu wenig Raum.
          Auch Selbstwahrnehmung, innere Stabilität und Resilienz werden in
          unserem (Bildungs-) System kaum bis gar nicht berücksichtigt - obwohl
          sie eine zentrale Grundlage für ganzheitliche Gesundheit bilden.
          Stattdessen zwingen Rahmenbedingungen, Leistungsdruck und lange
          Betreuungszeiten Kinder früh dazu, Erwartungen zu erfüllen und sich
          anzupassen. Daher ist mein Herzensanliegen mitzuwirken, einen Teil
          dieser Lücke zu schließen und einer meiner wichtigsten Beweggründe für
          mana'o.
        </p>
      </div>
      <div
        class="w-full max-w-xs self-center md:max-w-sm md:basis-2/5 md:self-auto lg:max-w-md"
      >
        <Picture
          src={heroImage}
          alt="Wasser, Wellen, Ozean"
          class="aspect-square w-full rounded-full object-cover"
        />
      </div>
    </div>

    <div class="flex justify-center">
      <a
        href="/intention"
        class="btn bg-manao hover:border-manao hover:text-manao text-white transition-colors duration-300 hover:bg-white"
      >
        Mehr über meine Intention
      </a>
    </div>
  </div>
</section>
