---
import { Picture } from "astro:assets";
import heroImage from "../assets/intension.webp";
---

<section class="mx-auto max-w-5xl px-5 py-12 md:py-16">
  <div class="space-y-10 md:space-y-14">
    <div class="flex flex-col items-start gap-8 md:flex-row md:gap-12">
      <div class="space-y-5 md:basis-3/5">
        <h1
          class="font-licorice text-manao text-5xl text-balance md:text-6xl lg:text-7xl"
        >
          Meine Intention
        </h1>
        <p>
          In der aktuellen Zeit gewinnt die innere Stimme zunehmend an Bedeutung
          - nicht nur für die persönliche Gesundheit, sondern auch für die
          Entwicklung einer resilienten und empathischen Gesellschaft, in der
          ein bewusstes und wertschätzendes Miteinander gelebt wird.
        </p><p>
          Kinder sind dabei unser wertvollstes Gut und tragen ein einzigartiges
          Potenzial in sich. Sie brauchen Räume, in denen sie sich entfalten
          können - Räume in denen Selbstwahrnehmung, innere Stärke und Resilienz
          wachsen dürfen, ebenso wie die Erfahrung von Vertrauen, Verbundenheit
          und einem tragfähigen sozialen Miteinander.
        </p><p>
          Doch in unserem (Bildungs-) System wird dies kaum bis gar nicht
          berücksichtigt. Rahmenbedingungen, Leistungsdruck und lange
          Betreuungszeiten führen dazu, dass Kinder früh lernen, Erwartungen zu
          erfüllen und sich anzupassen.<br />Dabei verlieren sie häufig die
          Verbindung zu sich selbst.
        </p><p>
          Die Folgen zeigen sich auf unterschiedliche Weise, etwa durch Rückzug
          und Unsicherheiten oder durch Unruhe, Reizbarkeit und
          konfliktbeladenes Verhalten im Alltag sowie fehlender sozialer
          Verbundenheit.
        </p><p>
          Daher ist mein Herzensanliegen mitzuwirken, einen Teil dieser Lücke zu
          schließen und einer meiner wichtigsten Beweggründe für mana'o.
        </p>
      </div>

      <div
        class="w-full max-w-xs self-center md:max-w-sm md:basis-2/5 md:self-auto lg:max-w-md"
      >
        <Picture
          src={heroImage}
          alt="Wasser, Wellen, Ozean"
          class="aspect-square w-full rounded-full object-cover"
        />
      </div>
    </div>

    <div class="text-manao-dark font-caveat text-center text-3xl">
      Resiliente, verantwortungsbewusste und intrinsisch motivierte Menschen,<br
      />
      meistern nicht nur ihr eigenes Leben, sondern tragen aktiv <br />zur
      friedlichen, nachhaltigen und gerechten Gestaltung von Gesellschaften bei
      - lokal wie global.
    </div>

    <div class="flex justify-center">
      <a
        href="/intention"
        class="btn bg-manao hover:border-manao hover:text-manao text-white transition-colors duration-300 hover:bg-white"
      >
        Mehr über meine Intention
      </a>
    </div>
  </div>
</section>
