---
import { Picture } from "astro:assets";
import heroImage from "../assets/intension.webp";
---

<section class="mx-auto max-w-5xl px-5 py-12 md:py-16">
  <div>
    <div class="flex flex-col items-start gap-8 md:flex-row md:gap-12">
      <div class="space-y-5 md:basis-3/5">
        <h1
          class="font-licorice text-manao text-5xl text-balance md:text-6xl lg:text-7xl"
        >
          Meine Intention
        </h1>
        <p>
          Kinder sind unser höchstes Gut und prägen die Zukunft unserer
          Gesellschaft. Ihre Einzigartigkeit, ihre Fähigkeiten und Stärken gehen
          im Alltag und durch gesellschaftliche Erwartungen jedoch häufig
          verloren. Bereiche wie Selbstwahrnehmung, Stabilität,
          Persönlichkeitsentwicklung und Sinnfindung werden in unserem
          (Bildungs-) System kaum bis gar nicht berücksichtigt. Stattdessen
          zwingen Rahmenbedingungen, Leistungsdruck und lange Betreuungszeiten
          in KiTa und Schule Kinder früh dazu, Erwartungen zu erfüllen und sich
          anzupassen. Daher ist mein Herzensanliegen mitzuwirken, einen Teil
          dieser Lücke zu schließen und einer meiner wichtigsten Beweggründe für
          mana'o.
        </p>
      </div>
      <div
        class="w-full max-w-xs self-center md:max-w-sm md:basis-2/5 md:self-auto lg:max-w-md"
      >
        <Picture
          src={heroImage}
          alt="Wasser, Wellen, Ozean"
          class="aspect-square w-full rounded-full object-cover"
        />
      </div>
    </div>
  </div>
</section>
